<form>
    <label>NAME: </label>
    <input type="text" class="form-control" [(ngModel)]="project.name" [ngModelOptions]="{standalone: true}">
    <label>DATE: </label>
    <input type="date" class="form-control" [(ngModel)]="project.startDate" [ngModelOptions]="{standalone: true}">
</form>
<table>
    <tr>
        <th *ngFor="let column of headers">
            {{ column }}
        </th>
    </tr>
    <tr *ngFor="let data of project.activities"> 
        <td>
            {{ data.id }}
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.taskName">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.estimate">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.predecessor">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.resource">
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.priority">
        </td>
        <td>
            {{ data.start.toLocaleDateString() }}
        </td>
        <td>
            {{ data.finish.toLocaleDateString() }}
        </td>
    </tr>
</table>
<div>
    <button (click)="saveProject()">SAVE</button>
    <button (click)="addRow()">ADD ROW</button>
</div>