<form>
    <label>NAME: </label>
    <input>
    <label>DATE: </label>
    <input>
</form>
<table>
    <tr>
        <th *ngFor="let column of headers">
            {{ column }}
        </th>
    </tr>
    <tr *ngFor="let data of project.activities"> 
        <td>
            {{ data.id }}
        </td>
        <td>
            <input type="text" class="form-control" [(ngModel)]="data.taskName">
        </td>
        <td>
            {{ data.estimate }}
        </td>
        <td>
            {{ data.predecessor }}
        </td>
        <td>
            {{ data.resource }}
        </td>
        <td>
            {{ data.priority }}
        </td>
        <td>
            {{ data.start.toLocaleDateString() }}
        </td>
        <td>
            {{ data.finish.toLocaleDateString() }}
        </td>
    </tr>
</table>
<div>
    <button (click)="saveProject()">SAVE</button>
    <button (click)="addRow()">ADD ROW</button>
</div>